@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* some reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

/* common style */
.container {
	max-width: 1140px;
	margin: 0 auto;
}

/* header Section */
.header-section {
	height: 86px;
	width: 100%;
}

.header-row {
	height: 86px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	max-width: 216px;
}

.logo img {
	max-height: 34.68px;
}

.main-menu {
	width: calc(100% - 432px);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1rem;
	text-transform: uppercase;
}

.main-menu .menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-menu .menu li {
	margin-right: 32px;
}

.menu li a {
	color: #1c4396;
}

.header-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 216px;
}

.login-btn {
	position: relative;
	margin-right: 46px;
	display: flex;
	align-items: center;
}

.login-btn::after {
	content: '';
	position: absolute;
	height: 28px;
	right: -23px;
	top: -3px;
	border-right: 1px solid #d7d7d7;
}

.login-btn .profile-icon {
	fill: #1d2a80;
}
.login-btn span {
	padding-left: 9px;
	color: #1c4396;
}

.get-started-btn {
	display: inline-block;
	background-color: #dcf6ff;
	width: 104px;
	height: 36px;
	line-height: 36px;
	border-radius: 30px;
	font-size: 1rem;
	text-align: center;
}

.get-started-btn a {
	color: #1c4396;
}
